*{
    margin: 0;
    padding: 0;
}
svg{
    color: #ccc;
}
.line{
    width: 100%;
    height: 4px;
    background-color: greenyellow;
}
#top-container{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: end;
    align-items: center;
    gap: 20px;
    border: 1px solid #e4e1e1;
}
a{
    text-decoration: none;
    color: rgb(102, 101, 101);
    font-size: 12px;
    font-weight: bold;
}
a:hover{
    color: black;
}
#title-container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.logo{
    width: 150px;
    background-image: url(/images/Melon_logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.search{
    position: relative;
    top: 10px;
}
.search > input{
    width: 280px;
    height: 30px;
    border-color: greenyellow;
    border-radius: 50px;
}
.realtime{
    position: relative;
    top: 10px;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.navbar ul li{
    display: flex;
}
.navbar ul li a{
    font-size: 16px;
    font-weight: bold;
}
.navbar ul li a:hover{
    color: greenyellow;
}
.sidebar{
    width: 100%;
    height: 50px;
    display: flex;
    border: 1px solid #ccc;
    justify-content: space-around;
    align-items: center;
}
.sidebar ul{
    display: flex;
    list-style: none;
    gap: 10px;
    position: relative;
    right: 200px;
}
.sidebar ul li{
    display: flex;
}
.sidebar ul li a{
    font-size: 14px;
}
.time-select{
    width: 100%;
    height: 150px;
}
p{
    font-size: 24px;
    padding: 10px;
    position: relative;
    left: 20px;
    top: 10px;
    font-weight: bold;
}
.time-select > label{
    font-size: 24px;
    padding: 10px;
    position: relative;
    left: 800px;
    top: 10px;
}
option{
    size: 100px;
    color: green;
}
select{
    color: green;
    border: 0px;
    position: relative;
    left: 800px;
    top: 10px;
    font-size: 24px;
}
.chart-menu{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}
#rank-container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.rank{
    width: 100%;
    height: 80px;
    display: flex;
}
.rank > input{
    position: relative;
    bottom: 30px;
}
span{
    position: relative;
    left: 20px;
    width: 400px;
}
img{
    width: 70px;
    height: 60px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}